* {
    font-family: Helvetica;
}

body {
    background-color: LightSalmon;
    text-align: center;
    margin: 0;
}

header img {
    width: 100%;
}

.left-top {
    width: 30%;
    height: 400px;
    float: left;
}

.left-bottom {
    background-color: DarkSalmon;
    width: 30%;
    height: 100px;
    float: left;
    clear: left;
}

main {
    background-color: DarkSalmon;
    width: 70%;
    height: 500px;
    float: right;
    overflow: auto;
}

.filter-text {
    font-style: italic;
    font-size: 200%;
    padding: 10px;
}

.filter-text:hover {
    color: GhostWhite;
}

table, td {
    border: 1px dotted Maroon;
}

table {
    width: 70%;
    margin: auto;
}